/* .App {
  text-align: center;
}

.header-button {
  border-radius: 10rem;
  border: 0;
  height: 5rem;
  width: 15rem;
  font-size: 60%;
  font-family: "Gill Sans", sans-serif;
  left: 27%;
  position: relative;
  top: 17%;
  margin: 0 10rem 0 0;
}

header {
  background: #2c3e50;
  height: 8rem;
} */

/* .generalScreen {
  position: absolute;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
